* {
    padding: 0;
    margin: 0;
}

html {
    background-color: rgb(115, 180, 211);
}

body {

    min-height: 490px;
}


li {
    text-decoration: none;
    list-style-type: none;
}

button {

    border: none;
    color: rgb(48, 62, 122);
    font-size: 22px;
}

button:hover {

    background-color: brown;
}

/*TOP BAR*/
#topBar {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: rgb(48, 62, 122);
    font-size: 30px;
    color: rgb(161, 195, 214);
}

#title{
    position: relative;
    width: 300px;
    left: 5px;
    top: 5px;
}




/*CALCULATOR BODY*/
#bodyDiv {
    position: absolute;
    top: 50%;

    height: 410px;
    width: 223px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(37, 70, 141);
    border-radius: 5px;
}

#screem {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translate(-50%);
    height: 130px;
    width: 93%;
    background-color: rgb(116, 162, 231);
}

#main {
    position: relative;
    bottom: 0px;
    width: calc(100% - 4px);
    height: 100%;
    bottom: 0;
    background-color: rgb(240, 255, 255);
}
#textUpThree {
    position: absolute;
    top: 5px;
    text-align: end;
    border: none;
    font-size: 15px;
    height: 20px;
    width: 100%;
    text-decoration: none;
}
#textUpTwo {
    position: absolute;
    top: 25px;
    text-align: end;
    border: none;
    font-size: 15px;
    height: 20px;
    width: 100%;
    text-decoration: none;
}
#textUpOne {
    position: absolute;
    top: 45px;
    text-align: end;
    border: none;
    font-size: 15px;
    height: 20px;
    width: 100%;
}

#textMiddle {
    position: absolute;
    top: 65px;
    left: 0%;
    text-align: end;
    border: none;
    font-size: 20px;
    height: 25px;
    width: 100%;
    text-decoration: none;
}
#textMain {
    position: absolute;
    top: 90px;
    left: 0%;
    text-align: end;
    border: none;
    font-size: 30px;
    height: 40px;
    width: 100%;
    text-decoration: none;
}

#buttons {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translate(-50%);
    height: 264px;
    width: 95%;
}

#dirButtons {
    position: absolute;
    margin: 0px;
    right: 0px;
    width: 53px;
    height: calc(100% - 0.1px);
}

#dirButtons button {

    position: relative;
    width: 49px;
    height: 49px;
    margin: 2px;
    background-color: rgb(48, 140, 202);
}

#dirButtons button:hover {

    background-color: rgb(47, 100, 161);

}

#result button {
    position: relative;
    width: 49px;
    height: 49px;
    margin: 2px;
    background-color: rgb(48, 62, 122);
    color: white;
}

#topButtons {
    position: absolute;
    margin: 0px;
    left: 0px;
    height: 54px;
    width: calc(100% - 53px);
}

#topButtons ul li {

    display: inline-block;
}

.redButton {
    color: brown;
}

#topButtons button {
    position: relative;
    display: inline-block;
    left: 02px;
    top: 2px;
    width: 49px;
    height: 49px;
    margin: 0px;
    background-color: rgb(48, 140, 202);
}

#topButtons button:hover {

    background-color: rgb(47, 100, 161);
}

#numbers {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 159px;
    height: calc(100% - 54px);
}

.numbH {
    display: inline-block;
}

.numbH button {
    position: relative;
    display: inline-block;
    left: 02px;
    top: -3px;
    width: 49px;
    height: 49px;
    margin-top: 4px;
    background-color: rgb(48, 140, 202);
}

.numbH button:hover {

    background-color: rgb(47, 100, 161);
}


/*BOTTOM BAR*/
#bottomBar {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0px;
    background-color: rgb(195, 203, 230);

}
#linkGit{
    position: relative;
    height: 100%;
    width: 160px;
    left: 10px;
    cursor: pointer;
    background-color: transparent;
}
#linkGit a{
 text-decoration: none;
 color: black;
}

#gitIcon{
    position: relative;
    left: 0px;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 30px; 
}



@media (max-height: 490px) {

    #bodyDiv {
        position: absolute;
        top: 40px;

        height: 410px;
        width: 223px;
        left: 50%;
        transform: translate(-50%);
        background-color: rgb(37, 70, 141);
        border-radius: 5px;
    }


    /*BOTTOM BAR*/
#bottomBar {
    position: absolute;
    top: 450px;
    height: 40px;
    width: 100%;
    background-color: rgb(195, 203, 230);

}

}