* {
    padding: 0;
    margin: 0;
}

html{
    background-color: rgb(115, 180, 211);
}


li {
    text-decoration: none;
    list-style-type: none;
}

ul{

}

button {

    border: none;
    color: rgb(48, 62, 122);
    font-size: 22px;
}

/*TOP BAR*/
#topBar {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: rgb(48, 62, 122);
}


/*CALCULATOR BODY*/
#bodyDiv {
    position: relative;
    top: 10px;
    height: 410px;
    width: 223px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(73, 120, 161);
    border-radius: 5px;
}

#screem {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translate(-50%);
    height: 130px;
    width: 93%;
    background-color: rgb(116, 162, 231);
}

#buttons {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translate(-50%);
    height: 264px;
    width: 95%;
    background-color: brown;

}

#dirButtons {
    position: absolute;
    margin: 0px;
    right: 0px;
    width: 53px;
    height: calc(100% - 0.1px);
    background-color: rgb(73, 120, 161);
}

#dirButtons button {

    position: relative;
    width: 49px;
    height: 49px;
    margin: 2px;
    background-color: rgb(41, 172, 196);
}

#result button {
    position: relative;
    width: 49px;
    height: 49px;
    margin: 2px;
    background-color: rgb(48, 62, 122);
    color: white;
}

#topButtons {
    position: absolute;
    margin: 0px;
    left: 0px;
    height: 54px;
    width: calc(100% - 53px);
    background-color: rgb(73, 120, 161);
}

#topButtons ul li {

    display: inline-block;
}

.redButton{
    color: brown;
}

#topButtons button {
    position: relative;
    display: inline-block;
    left: 02px;
    top: 2px;
    width: 49px;
    height: 49px;
    margin: 0px;
    background-color: rgb(41, 172, 196);
}

#numbers {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 159px;
    height: calc(100% - 54px);
    background-color: rgb(73, 120, 161);
}

.numbH {
    display: inline-block;
}

.numbH button {
    position: relative;
    display: inline-block;
    left: 02px;
    top: -3px;
    width: 49px;
    height: 49px;
    margin-top: 4px;
    background-color: rgb(41, 172, 196);
}


/*BOTTOM BAR*/
#bottomBar {
    position: relative;
    height: 200px;
    width: 100%;
    top: 20px;
    background-color: rgb(195, 203, 230);

}